<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <ng-include src="'views/header.html'"></ng-include>
  <ng-include src="'views/aside.html'"></ng-include>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="text-info content-header">
          <h1>
           Ingresa el valor de tus ahorros
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
          <!-- CONTENIDO DE LA PAGINA-->
          <div class="row"  style="padding:10px" > 
            <div class="col-lg-12">
              <div class="panel panel-default">


                <div class="panel-body">
                  <div class="row" style="padding:15px">
                   <div class="clearfix clear col-lg-12">&nbsp;</div>
                    <form class= "form-horizontal" name="formBien">
                      <!-- TABLAS -->
                        <div class="col-xs-11 table-responsive data-table-container">
                          <table class="data-table col-xs-11 col-md-offset-1 data-table-container">
                                <thead>
                                    <tr>
                                        <th>Cuenta</th>
                                        <th class="text-right">Saldo</th>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    
                                    <tr ng-repeat="registro in miPatrimonio | filter:'Cuenta'">
                                      <td><div> {{ registro.descripcion }} </div></td>
                                      <td class="text-right"><div> {{ registro.valor }} </div></td>
                                      <td class="text-right">
                                      <div ><span ng-click="remover(registro)" class="action-data-table action-remove"><i class="glyphicon glyphicon-trash"></i>Borrar</span></div>


                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">
                                            $<span class="total-data-table" data-total="value">{{totalPatrimonio}}</span>
                                        </td>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>
                      </div>

                      <!-- /TABLAS -->
                     <!--  CHECKBOX-->
                <div  class="col-xs-12 nopadding-sides form-checkbox">
                <div  class="col-xs-12 nopadding-sides" >
                    <div  class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>Cta ahorros</label>
                    </div>                      
                    <div class="col-xs-6 col-sm-3" ng-hide="ahorro" > 
                        <input  type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcion" ng-model="misAhorros.descripcion" ng-required = "true">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="ahorro">
                        <input  type="number" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="valor" ng-model="misAhorros.valor"  ng-required = "true" min="1">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="ahorro">
                        <input  type="date" placeholder="Fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="fecha" ng-model="misAhorros.fecha"  ng-required = "true">
                    </div>

                    <div class="col-xs-6 text-right col-sm-2" ng-hide="ahorro">
                          <button class="btn btn-success ng-isolate-scope" type="submit"
                           ng-disabled="formBien.descripcion.$error.required || formBien.valor.$error.required || formBien.fecha.$error.required" ng-click="registrarPatrimonio('Cuenta ahorros')" >Adicionar</button>
                    </div>                    
                </div>


                 <div class="col-xs-12 nopadding-sides"  >
                    <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>Cta corriente</label>
                    </div> 
                    <div class="col-xs-6 col-sm-3"  ng-hide="corriente">
                        <input type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcion1" ng-model="miCorriente.descripcion"  ng-required = "true">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="corriente">
                        <input type="number" name="valor1" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" ng-model="miCorriente.valor" style="text-align: right;" ng-required = "true" min="1">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="ahorro">
                        <input  type="date" placeholder="Fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="fecha1" ng-model="miCorriente.fecha"  ng-required = "true">
                    </div>
                    <div class="col-xs-6 text-right col-sm-2" ng-hide="corriente">
                        <button class="btn btn-success ng-isolate-scope" type="submit"
                        ng-disabled="formBien.descripcion1.$error.required || formBien.valor1.$error.required  || formBien.fecha1.$error.required" ng-click="registrarPatrimonio('Cuenta corriente')">Adicionar</button>
                    </div>   
                </div>


                <div  class="col-xs-12 nopadding-sides" >
                    <div  class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>Cooperativas</label>
                    </div>                      
                    <div class="col-xs-6 col-sm-3" ng-hide="ahorro" > 
                        <input  type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcion2" ng-model="misCooperativas.descripcion" ng-required = "true">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="ahorro">
                        <input  type="number" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="valor2" ng-model="misCooperativas.valor"  ng-required = "true" min="1">
                    </div>
                    <div class="col-xs-6 col-sm-2" ng-hide="ahorro">
                        <input  type="date" placeholder="Fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="fecha2" ng-model="misCooperativas.fecha"  ng-required = "true">
                    </div>

                    <div class="col-xs-6 text-right col-sm-2" ng-hide="ahorro">
                          <button class="btn btn-success ng-isolate-scope" type="submit"
                           ng-disabled="formBien.descripcion2.$error.required || formBien.valor2.$error.required || formBien.fecha2.$error.required" ng-click="registrarPatrimonio('Cuenta cooperativas')" >Adicionar</button>
                    </div>                    
                </div>
               
                </div>
                     <!-- /CHECKBOX -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <ng-include src="'views/footer.html'"></ng-include>
      <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->


