<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <ng-include src="'views/header.html'"></ng-include>
  <ng-include src="'views/aside.html'"></ng-include>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="text-info content-header">
          <h1>
           Dashboard
            <small>Vista general</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">

        <!-- CONTENIDO DE LA PAGINA-->
        <div class="row"> 
        <!--Graficas y demas del Dashboard-->
        </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <ng-include src="'views/footer.html'"></ng-include>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
