<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <ng-include src="'views/header.html'"></ng-include>
  <ng-include src="'views/aside.html'"></ng-include>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="text-info content-header">
          <h1>
           Ingresa tus deudas
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- CONTENIDO DE LA PAGINA-->
  <div ng-controller="formController" class="row"  style="padding:10px" > 
    <div class="col-lg-12">
      <div class="panel panel-default">


        <div class="panel-body">
          <div class="row" style="padding:15px">
           <div class="clearfix clear col-lg-12">&nbsp;</div>
            <form class= "form-horizontal" name="formBien">
              <!-- TABLAS -->
                <div class="col-xs-11 table-responsive data-table-container">
                  <table class="data-table col-xs-11 col-md-offset-1 data-table-container">
                      <thead>
                          <tr>
                              <th>Descripción</th>
                              <th class="text-right">Saldo</th>
                              <th colspan="2">&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                       <!--  Lo que debe crear el JS -->
                          
                          <tr ng-repeat="dato in deudas">
                            <td><div> {{ dato.descripcion }} </div></td>
                            <td class="text-right"><div> {{ dato.valor }} </div></td>
                            <td><div> {{ dato.cuenta }} </div></td>
                            <td class="text-right">
                            <div ><span ng-click="removed(dato)" class="action-data-table action-remove"><i class="glyphicon glyphicon-trash"></i>Borrar</span></div>
                          </td>
                        </tr>
                      <!--  /Lo que debe crear el JS -->
                      </tbody>
                  </table>
              </div>

              <!-- /TABLAS -->
             <!--  CHECKBOX-->
                <div   class="col-xs-12 nopadding-sides form-checkbox">
        <div  class="col-xs-12 nopadding-sides" >
            <div  class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label  >
                    <input  ng-click= "ShowForm('creditos')" type="checkbox" id="chkCh"  name="creditos" >&nbsp;<span>Créditos Hipotecarios</span>
                </label>
            </div>                      
            <div class="col-xs-12 col-sm-4" ng-hide="creditos" > 
                <input  type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcionch" ng-model="descripcionch" 
                 ng-class="{ error:formBien.$dirty && formBien.descripcionch.$error.required }" required>
                <!-- <span class="text-danger" ng-show="!formBien.$pristine && formBien.descripcion.$error.required">Descripcion requerida.</span> -->
                
      
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="creditos">
                <input  type="number" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="valorch" ng-model="valorch"  ng-class="{ error:formBien.$dirty && formBien.valorch.$error.required }" required>
                <!-- <span class="text-danger"ng-show="!formBien.$pristine && formBien.valor.$error.required">Valor requerido.</span> -->

            </div>

              <div class="col-xs-12 text-right col-sm-2" ng-hide="creditos">
                  <button class="btn btn-success ng-isolate-scope" type="submit"
                   ng-disabled="formBien.descripcionch.$error.required; formBien.valorch.$error.required" ng-click="agregar('creditos')" >Adicionar</button>
              </div>
           
            
        </div>

         <div class="col-xs-12 nopadding-sides"  >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <input ng-click= "ShowForm('creditove')" type="checkbox" id="chkCv" >&nbsp;<span>Crédito Vehículos</span>
                </label>
            </div> 
            <div class="col-xs-12 col-sm-4"  ng-hide="creditove">
                <input type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcioncv" ng-model="descripcioncv"  ng-class="{ error:formBien.$dirty && formBien.descripcioncv.$error.required }"  required>
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="creditove">
                <input type="number" name="valorcv" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" ng-model="valorcv" style="text-align: right;" ng-class="{ error:formBien.$dirty && formBien.valorcv.$error.required }" required>
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="creditove">
                <button class="btn btn-success ng-isolate-scope" type="submit"
                ng-disabled="formBien.descripcioncv.$error.required; formBien.valorcv.$error.required" ng-click="agregar('creditove')">Adicionar</button>
            </div>
            
        </div>

         <div class="col-xs-12 nopadding-sides"  >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <input ng-click= "ShowForm('tarjetas')" type="checkbox" id="chkTc" >&nbsp;<span>Tarjetas de crédito</span>
                </label>
            </div>
            <div class="col-xs-12 col-sm-4"  ng-hide="tarjetas">
                <input type="text" placeholder="Descripción" name="descripciontc" ng-model="descripciontc" class="form-control form-checkbox-description"
                ng-class="{ error:formBien.$dirty && formBien.descripciontc.$error.required }"  required>
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="tarjetas">
                <input type="text" placeholder="Valor" name="valortc" ng-model="valortc" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" ng-class="{ error:formBien.$dirty && formBien.valortc.$error.required }" required>
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="tarjetas" ng-click="agregar('tarjetas')">
                <button class="btn btn-success ng-isolate-scope"
                ng-disabled="formBien.descripciontc.$error.required; formBien.valortc.$error.required" >Adicionar</button>
            </div>
            
        </div>

          <div class="col-xs-12 nopadding-sides" >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <input ng-click= "ShowForm('creditoli')" id="chkLi" type="checkbox" >&nbsp;<span>Créditos de libre inversión</span>
                </label>
            </div>
            <div class="col-xs-12 col-sm-4"  ng-hide="creditoli">
                <input type="text" placeholder="Descripción" name="descripcionli" ng-model="descripcionli" class="form-control form-checkbox-description"
                 ng-class="{ error:formBien.$dirty && formBien.descripcionli.$error.required }"  required>
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="creditoli">
                <input type="text" placeholder="Valor" name="valorli" ng-model="valorli" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" ng-class="{ error:formBien.$dirty && formBien.valorli.$error.required }"  required>
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="creditoli">
                <button class="btn btn-success ng-isolate-scope" ng-click="agregar('creditoli')"
                 ng-disabled="formBien.descripcionli.$error.required; formBien.valorli.$error.required">Adicionar</button>
            </div>
            
        </div>

         <div class="col-xs-12 nopadding-sides" >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <input ng-click= "ShowForm('otcredito')" id="chkCo" type="checkbox" >&nbsp;<span>Otros Créditos</span>
                </label>
            </div>
            <div class="col-xs-12 col-sm-4"  ng-hide="otcredito">
                <input type="text" placeholder="Descripción" name="descripcionoc" ng-model="descripcionoc" class="form-control form-checkbox-description"
                 ng-class="{ error:formBien.$dirty && formBien.descripcionoc.$error.required }"  required>
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="otcredito">
                <input type="text" placeholder="Valor" name="valoroc" ng-model="valoroc" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" ng-class="{ error:formBien.$dirty && formBien.valoroc.$error.required }"  required>
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="otcredito">
                <button class="btn btn-success ng-isolate-scope" ng-click="agregar('otcredito')"
                 ng-disabled="formBien.descripcionoc.$error.required; formBien.valoroc.$error.required">Adicionar</button>
            </div>
            
        </div>
       
        </div>
   
             <!-- /CHECKBOX -->
            </form>

               


          </div>
        </div>
      </div>
    </div>
  </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <ng-include src="'views/footer.html'"></ng-include>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
