<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="#dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>D</b>EC</span>
          <!-- <p>{$route.current.templateUrl}</p> -->
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>DEC</b>Renta</span>
          <!-- {{noti.debe_declarar()}} -->
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="{{ruta.current.paginaActiva}}" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="{{ruta.current.paginaActiva}}" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="dist/img/avatar.jpg" height="522" width="294" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{auth.name_user(datosUserLog.password.email)}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="dist/img/avatar.jpg" class="img-circle" alt="User Image">
                <p>
                  Estás registrado con: {{datosUserLog.password.email}}
                  <!-- <small>Member since Nov. 2012</small> -->
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#/" class="btn btn-default btn-flat" ng-click="ref.$unauth()">Sign out</a>
                </div>
                <div class="pull-left">
                  <form action="" method="POST" name="formCambio">
                    <div class="form-group" ng-class="{ 'has-error' : formCambio.password.$invalid && !formCambio.password.$pristine  
                     }">
                    <input type="password" name="password" id="password"
                     class="form-control" 
                     placeholder="Contraseña Actual"
                     ng-model='cambio.password'
                     ng-minlength="5"
                     required
                     >
                     <span class="help-block" ng-show="formCambio.password.$error.minlength && !formCambio.password.$pristine">
                     Mínimo 5 caracteres
                     </span>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : formCambio.password2.$invalid && !formCambio.password2.$pristine  
                     }">
                    <input type="password" name="password2" id="password"
                     class="form-control" 
                     placeholder="Nueva contraseña"
                     ng-model='cambio.password2'
                     ng-minlength="5"
                     required
                     >
                     <span class="help-block" ng-show="formCambio.password2.$error.minlength && !formCambio.password2.$pristine">
                     Mínimo 5 caracteres
                     </span>
                  </div>
                  <span class="text-danger" id="errorCambio"></span>
                  <span class="text-success" id="exitoCambio"></span>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                         name="cambioPassword" 
                         id="cambioPassword"
                         class="btn btn-default btn-flat" 
                         value="Cambiar" 
                         ng-click='auth.change_password($event, ref, datosUserLog.password.email, cambio.password, cambio.password2)'
                         ng-disabled="!formCambio.$valid"
                         >
                      </div>
                    </div>
                  </div><!-- boton -->
                  </form>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
</header>