<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="{{ruta.current.paginaActiva}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>D</b>EC</span>
          <!-- <p>{$route.current.templateUrl}</p> -->
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>DEC</b>Renta</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="{{ruta.current.paginaActiva}}" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="{{ruta.current.paginaActiva}}" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="{{ruta.current.paginaActiva}}">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li><!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="{{ruta.current.paginaActiva}}">Notificaciones</a></li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="{{ruta.current.paginaActiva}}" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="dist/img/avatar.jpg" height="522" width="294" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Luis Fernando</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="dist/img/avatar.jpg" class="img-circle" alt="User Image">
                <p>
                  Luis Fernando - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a href="{{ruta.current.paginaActiva}}" class="btn btn-default btn-flat" ng-click="logOut">Sign out</a>
                </div>
                <div class="pull-left">
                  <form action="" name="formCambio">
                    <div class="form-group" ng-class="{ 'has-error' : formCambio.password.$invalid && !formCambio.password.$pristine  
                     }">
                    <input type="password" name="password" id="password"
                     class="form-control" 
                     placeholder="Contraseña Actual"
                     ng-model='cambio.password'
                     ng-minlength="5"
                     required
                     >
                     <span class="help-block" ng-show="formCambio.password.$error.minlength && !formCambio.password.$pristine">
                     Mínimo 5 caracteres
                     </span>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : formCambio.password2.$invalid && !formCambio.password2.$pristine  
                     }">
                    <input type="password" name="password2" id="password"
                     class="form-control" 
                     placeholder="Nueva contraseña"
                     ng-model='cambio.password2'
                     ng-minlength="5"
                     required
                     >
                     <span class="help-block" ng-show="formCambio.password2.$error.minlength && !formCambio.password2.$pristine">
                     Mínimo 5 caracteres
                     </span>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                         name="cambioPassword" 
                         id="cambioPassword"
                         class="btn btn-default btn-flat" 
                         value="Cambiar" 
                         ng-click='cambiarPassword'
                         ng-disabled="!formCambio.$valid"
                         >
                      </div>
                    </div>
                  </div><!-- boton -->
                  <span class="text-danger" id="error_cambio"></span>
                  </form>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
</header>