<div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
  <ng-include src="'views/header.html'"></ng-include>
  <ng-include src="'views/aside.html'"></ng-include>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="text-info content-header">
          <h1>
           Tus Ingresos
          </h1>     
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- CONTENIDO DE LA PAGINA-->
          <div class="row"  style="padding:10px" > 
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row" style="padding:15px">
                   <div class="clearfix clear col-lg-12">&nbsp;</div>
                    <form class= "form-horizontal" name="formBien">
                      <!-- TABLAS -->
                        <div class="col-xs-11 table-responsive data-table-container">
                          <table class="data-table col-xs-11 col-md-offset-1 data-table-container">
                              <thead>
                                  <tr>
                                      <th>Descripción</th>
                                      <th class="text-right">Saldo</th>
                                      <th class="text-right">Por concepto de</th>
                                      <th colspan="2">&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                               <!--  Lo que debe crear el JS -->
                                  
                                  <tr ng-repeat="ingreso in misIngresos">
                                    <td><div> {{ ingreso.descripcion }} </div></td>
                                    <td class="text-right"><div> {{ ingreso.valor }} </div></td>
                                    <td class="text-right"><div> {{ ingreso.por_concepto_de }} </div></td>
                                    <td class="text-right">
                                    <div ><span ng-click="remover(ingreso)" class="action-data-table action-remove"><i class="glyphicon glyphicon-trash"></i>Borrar</span></div>

                                  </td>
                                </tr>
                               
                              <!--  /Lo que debe crear el JS -->
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td>Total</td>
                                      <td class="text-right">
                                          $<span class="total-data-table" data-total="value">{{totalIngresos}}</span>
                                      </td>
                                      <td colspan="2">&nbsp;</td>
                                  </tr>
                              </tfoot>
                          </table>
                      </div>

                      <!-- /TABLAS -->
                     <!--  CHECKBOX-->
                        <div   class="col-xs-12 nopadding-sides form-checkbox">
                <div  class="col-xs-12 nopadding-sides" >
                    <div  class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label  >
                            <span>Salarios</span>
                        </label>
                    </div>                      
                    <div class="col-xs-12 col-sm-4" ng-hide="salarios" > 
                        <input  type="text" placeholder="Descripción"
                        class="form-control form-checkbox-description" 
                        name="descripcionsa" 
                        ng-required = "true"
                        ng-model="miSalario.descripcion" s 
                        >
                        <!-- <span class="text-danger" ng-show="!formBien.$pristine && formBien.descripcion.$error.required">Descripcion requerida.</span> -->
                    </div>
                    
                    <div class="col-xs-12 col-sm-3" ng-hide="salarios">
                        <input  type="number" placeholder="Valor" 
                        class="form-control form-checkbox-value" 
                        autocomplete="off" 
                        style="text-align: right;" 
                        name="valorsa" 
                        ng-model="miSalario.valor"
                        ng-required = "true"
                        >
                        <!-- <span class="text-danger"ng-show="!formBien.$pristine && formBien.valor.$error.required">Valor requerido.</span> -->

                    </div>
                      <div class="col-xs-12 text-right col-sm-2" ng-hide="salarios">
                          <button class="btn btn-success ng-isolate-scope" type="submit"
                           ng-disabled="formBien.descripcionsa.$error.required || formBien.valorsa.$error.required" ng-click="pago('salarios')" >Adicionar</button>
                      </div>
                </div>

                 <div class="col-xs-12 nopadding-sides"  >
                    <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>
                            <span>Retiro de cesantias</span>
                        </label>
                    </div> 
                    <div class="col-xs-12 col-sm-4"  ng-hide="retiro">
                        <input type="text" placeholder="Descripción" 
                        class="form-control form-checkbox-description" 
                        name="descripcionrc" 
                        ng-model="misCesantias.descripcion"  
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3" ng-hide="retiro">
                        <input type="number" name="valorrc" placeholder="Valor" 
                        class="form-control form-checkbox-value" 
                        autocomplete="off" 
                        ng-model="misCesantias.valor" 
                        style="text-align: right;" 
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 text-right col-sm-2" ng-hide="retiro">
                        <button class="btn btn-success ng-isolate-scope" type="submit"
                        ng-disabled="formBien.descripcionrc.$error.required || formBien.valorrc.$error.required" ng-click="pago('cesantias')">Adicionar</button>
                    </div>
                    
                </div>

                 <div class="col-xs-12 nopadding-sides"  >
                    <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>
                            <span>Pensiones</span>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-4"  ng-hide="pension">
                        <input type="text" placeholder="Descripción" name="descripcionp" 
                        ng-model="misPensiones.descripcion" 
                        class="form-control form-checkbox-description"
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3" ng-hide="pension">
                        <input type="number" placeholder="Valor" name="valorp" 
                        ng-model="misPensiones.valor" 
                        class="form-control form-checkbox-value" 
                        autocomplete="off" 
                        style="text-align: right;" 
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 text-right col-sm-2" ng-hide="pension">
                        <button class="btn btn-success ng-isolate-scope"
                        ng-disabled="formBien.descripcionp.$error.required || formBien.valorp.$error.required" ng-click="pago('pensiones')" >Adicionar</button>
                    </div>
                    
                </div>

                  <div class="col-xs-12 nopadding-sides" >
                    <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>
                            <span>Ventas</span>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-4"  ng-hide="ventas">
                        <input type="text" placeholder="Descripción" name="descripcionv" 
                        ng-model="misVentas.descripcion" 
                        class="form-control form-checkbox-description"
                         
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3" ng-hide="ventas">
                        <input type="number" placeholder="Valor" name="valorv" 
                        ng-model="misVentas.valor" 
                        class="form-control form-checkbox-value" 
                        autocomplete="off" 
                        style="text-align: right;" 
                          
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 text-right col-sm-2" ng-hide="ventas">
                        <button class="btn btn-success ng-isolate-scope" ng-click="pago('ventas')"
                         ng-disabled="formBien.descripcionv.$error.required || formBien.valorv.$error.required">Adicionar</button>
                    </div>
                    
                </div>

                 <div class="col-xs-12 nopadding-sides" >
                    <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                        <label>
                            <span>Arriendos</span>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-4"  ng-hide="arriendos">
                        <input type="text" placeholder="Descripción" name="descripcionar" 
                        ng-model="misArriendos.descripcion" 
                        class="form-control form-checkbox-description"
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3" ng-hide="arriendos">
                        <input type="number" placeholder="Valor" name="valorar" 
                        ng-model="misArriendos.valor" 
                        class="form-control form-checkbox-value" 
                        autocomplete="off" 
                        style="text-align: right;"   
                        ng-required = "true"
                        >
                    </div>
                    <div class="col-xs-12 text-right col-sm-2" ng-hide="arriendos">
                        <button class="btn btn-success ng-isolate-scope" ng-click="pago('arriendos')"
                         ng-disabled="formBien.descripcionar.$error.required || formBien.valorar.$error.required">Adicionar</button>
                    </div>     
                </div>
                </div>
                     <!-- /CHECKBOX -->
                    </form><!-- ./FORM -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <ng-include src="'views/footer.html'"></ng-include>
      <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->