<div class="wrapper">
  <!-- <ng-include src="'views/header.html'"></ng-include> -->
  <ng-include src="'views/aside.html'"></ng-include>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="text-info content-header">
          <h1>
           Cuéntanos sobre otros bienes
           <small>¿Tienes más bienes?, ingresalos</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- CONTENIDO DE LA PAGINA-->
  <div ng-controller="formController" class="row"  style="padding:10px" > 
    <div class="col-lg-12">
      <div class="panel panel-default">


        <div class="panel-body">
          <div class="row" style="padding:15px">
           <div class="clearfix clear col-lg-12">&nbsp;</div>
            <form class= "form-horizontal" name="formBien">
              <!-- TABLAS -->
                <div class="col-xs-11 table-responsive data-table-container">
                  <table class="data-table col-xs-11 col-md-offset-1 data-table-container">
                      <thead>
                        <tr>
                          <th>Descripcion</th>
                          <th class="text-right">Saldo</th>
                          <th colspan="2">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>      
                        <tr ng-repeat="registro in miPatrimonio">
                          <td><div> {{ registro.descripcion }} </div></td>
                          <td class="text-right"><div> {{ registro.valor }} </div></td>
                          <td class="text-right">
                          <div ><span ng-click="remover(registro)" class="action-data-table action-remove"><i class="glyphicon glyphicon-trash"></i>Borrar</span></div></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>Total</td>
                          <td class="text-right">
                            $<span class="total-data-table" data-total="value">{{totalPatrimonio}}</span>
                          </td>
                          <td colspan="2">&nbsp;</td>
                        </tr>
                      </tfoot>
                </table>
              </div>
<!-- /TABLAS -->
                <div   class="col-xs-12 nopadding-sides form-checkbox">
        <div  class="col-xs-12 nopadding-sides" >
            <div  class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label  >
                    <span>Vehiculos</span>
                </label>
            </div>                      
            <div class="col-xs-12 col-sm-4" ng-hide="vehiculos" > 
                <input  type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcionve" ng-model="misVehiculos.descripcion" 
                 required = "true">    
            </div>

            <div class="col-xs-12 col-sm-3" ng-hide="vehiculos">
                <input  type="number" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="valorve" ng-model="misVehiculos.valor" required = "true" min="1">
            </div>

            <div class="col-xs-12 col-sm-3" ng-hide="vehiculos">
                <input  type="date" placeholder="Fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" name="fechave" ng-model="misVehiculos.fecha" required = "true">
            </div>

            <div class="col-xs-12 text-right col-sm-2" ng-hide="vehiculos">
                  <button class="btn btn-success ng-isolate-scope" type="submit"
                   ng-disabled="formBien.descripcionve.$error.required || formBien.valorve.$error.required || formBien.fechave.$error.required" ng-click="registrarPatrimonio('Vehiculos')" >Adicionar</button>
            </div>          
        </div>

         <div class="col-xs-12 nopadding-sides"  >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <span>Muebles y enseres</span>
                </label>
            </div> 
            <div class="col-xs-12 col-sm-4"  ng-hide="muebles">
                <input type="text" placeholder="Descripción" class="form-control form-checkbox-description" name="descripcionmu" ng-model="misMuebles.descripcion"  required = "true">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="muebles">
                <input type="number" name="valormu" placeholder="Valor" class="form-control form-checkbox-value" autocomplete="off" ng-model="misMuebles.valor" style="text-align: right;" required = "true" min="1">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="muebles">
                <input type="date" name="fechamu" placeholder="Fecha" class="form-control form-checkbox-value" autocomplete="off" ng-model="misMuebles.fecha" style="text-align: right;" required = "true">
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="muebles">
                <button class="btn btn-success ng-isolate-scope" type="submit"
                ng-disabled="formBien.descripcionmu.$error.required || formBien.valormu.$error.required || formBien.fechamu.$error.required" ng-click="registrarPatrimonio('Muebles')">Adicionar</button>
            </div>
            
        </div>

         <div class="col-xs-12 nopadding-sides"  >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <span>Cuentas x cobrar</span>
                </label>
            </div>
            <div class="col-xs-12 col-sm-4"  ng-hide="cuentas">
                <input type="text" placeholder="Descripción" name="descripcioncu" ng-model="misCobros.descripcion" class="form-control form-checkbox-description"
                required="true">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="cuentas">
                <input type="number" placeholder="Valor" name="valorcu" ng-model="misCobros.valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" required="true" min="1">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="cuentas">
                <input type="date" placeholder="Fecha" name="fechacu" ng-model="misCobros.fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" required="true">
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="cuentas" ng-click="registrarPatrimonio('Cobros')">
                <button class="btn btn-success ng-isolate-scope"
                ng-disabled="formBien.descripcioncu.$error.required || formBien.valorcu.$error.required || formBien.fechacu.$error.required" >Adicionar</button>
            </div>
            
        </div>

         <div class="col-xs-12 nopadding-sides"  >
            <div class="col-xs-12 col-sm-2 nopadding-sides checkbox">
                <label>
                    <span>Maquinaria</span>
                </label>
            </div>
            <div class="col-xs-12 col-sm-4"  ng-hide="cuentas">
                <input type="text" placeholder="Descripción" name="descripcionma" ng-model="miMaquinaria.descripcion" class="form-control form-checkbox-description"
                required="true">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="cuentas">
                <input type="number" placeholder="Valor" name="valorma" ng-model="miMaquinaria.valor" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" required="true" min="1">
            </div>
            <div class="col-xs-12 col-sm-3" ng-hide="cuentas">
                <input type="date" placeholder="Fecha" name="fechama" ng-model="miMaquinaria.fecha" class="form-control form-checkbox-value" autocomplete="off" style="text-align: right;" required="true">
            </div>
            <div class="col-xs-12 text-right col-sm-2" ng-hide="cuentas" ng-click="registrarPatrimonio('Maquinaria')">
                <button class="btn btn-success ng-isolate-scope"
                ng-disabled="formBien.descripcionma.$error.required || formBien.valorma.$error.required || formBien.fechama.$error.required" >Adicionar</button>
            </div>
            
        </div>      
        </div>   
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <ng-include src="'views/footer.html'"></ng-include>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
